  <div class="box">
    <div class="card my-3">
      <header class="card-hearder level">
        <div class="level-item">
          <p class="is-size-3 has-text-weight-medium">
            {{title}}
          </p>
        </div>
        {{#if url}}
        <div class="level-item">
          <a href="{{url}}" target="_blank">
            {{url}}
          </a>
        </div>
        {{/if}}
        <div class="level-item">
          {{format_date createdAt}}
        </div>
      </header>
      <div class="card-content pt-0">
        <p>
          {{text}}
        </p>
      </div>
    </div>
    <div class="has-text-centered">
        <p>Posted by: {{user.username}}</p>
    </div>
  </div>